.our-app-section {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
  }
  
  .our-app-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .our-app-content {
    width: 570px;
    height: 550px;
    text-align: left;
  }
  
  .our-app-title {
    color: #ff7f50;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .our-app-main-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .our-app-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
  }
  
  .our-app-features {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .feature {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .feature img {
    width: 50px;
    height: 50px;
  }
  
  .feature h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .feature p {
    font-size: 14px;
    color: #666;
  }
  
  .our-app-note {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .app-store-buttons a {
    margin: 0 10px;
  }
  
  .app-store-buttons img {
    width: 150px;
  }
  
  .our-app-image img {
    max-width: 100%;
    height: auto;
}
.our-app-image .phone-background{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    max-width: 400px;
}
.our-app-image img:not(.phone-background){
    z-index: 999;
}